/* imported styles from '../AdminProducts/admin-products.css' */

.admin-accounts-body * {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.admin-accounts-body h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.admin-accounts-body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 50px;
}

.admin-accounts-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.admin-account {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 7px 2px rgba(0,0,0,0.47); 
    box-shadow: 2px 2px 7px 2px rgba(0,0,0,0.47);
}

.delete-account-button {
    font-weight: bold;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    padding: 7px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: red;
    width: 200px;
    cursor: pointer;
}


.delete-account-button:hover {
    background-color: rgb(148, 2, 2);
}



.add-admin-button {
    font-weight: bold;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    padding: 7px 20px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: green;
    margin-bottom: 10px;
    width: 200px;
    cursor: pointer;
}

.add-admin-button:hover {
    background-color: rgb(1, 75, 1);
}

.background-shadow {
    background-color: rgba(0, 0, 0, 0.486);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50
}