.categories-container {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.categories-container > h1{
    padding: 0 100px;
}

.categories-with-arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
    gap: 10px;
}

.categories .image-container img {
   height: 350px;
   width: 300px;
   border-radius: 15px;
   object-fit: cover;
   cursor: pointer;
}

.categories .image-container {
    height: 400px;
}

.categories .image-container p {
    font-size: 1.8rem;
    padding-left: 5px;
    display: inline;
}

.categories {
    display: flex;
    gap: 10px;
    flex: 2;
    overflow-x: scroll;
}



.categories-container .arrow{
    height: 100px;
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
    border: none;
    font-size: 50px;
    font-family: 'pt serif';
    cursor: pointer;
    background-color: white;
}

.categories-container .arrow:hover  {
    background-color: rgba(128, 128, 128, 0.203);
}
.categories-container .arrow:active {
    background-color: rgba(128, 128, 128, 0.389);
}