
.landing-page-container .background-image {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: 0 10%;
}

.landing-page-container h1 {
    font-family: 'pt serif', Arial;
    font-weight: 500;
}

.featured-items-container{
    /* padding: 0 100px; */
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
}

.featured-items-container > h1{
    padding: 0 100px;
}

.featured-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 0px;
    overflow-x: scroll;
    min-width: 300px;
    flex: 2;
}

.featured-items-with-arrows{
    padding: 0 40px;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.featured-items-container .arrow{
    height: 100px;
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
    border: none;
    font-size: 50px;
    font-family: 'pt serif';
    cursor: pointer;
    background-color: white;
}

.featured-items-container .arrow:hover  {
    background-color: rgba(128, 128, 128, 0.203);
}
.featured-items-container .arrow:active {
    background-color: rgba(128, 128, 128, 0.389);
}


.landing-page-container .row {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 75px 0;

}
.landing-page-container .row img {
    width: 50%;
    max-height: 400px;
    min-width: 250px;
    object-fit: cover;
    object-position: 0 10%;
    border-radius: 20px;
}

.landing-page-container .row > h1 {
    width: 50%;
    font-size: 3vw;
    min-width: 250px;

}

.landing-page-container .row .bold {
    font-weight: bold;
    
}

footer {
    height: 75px;
    background-color: #052E16;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer p {
    font-family: "pt serif";
    color: white;
    margin-bottom: -10px;
}

/* .pop-up {
    top: 75px;
    font-family: "pt serif";
    border-radius: 5px;
    border: 1px solid #cc1d09;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8c8c3;
    padding: 3px 10px;
    font-size: 1.2rem;
    color: #d32f2f;
    text-align: center;
    position: fixed;
    left: 50%;         
    transform: translateX(-50%);  
    z-index: 100;    
    gap: 10px;
}

.close-pop-up:hover {
    cursor: pointer;
} */