/* Container for the whole checkout page */
.checkout-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  /* Cart Items Section */
  .cart-items {
    margin-bottom: 30px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .total-price {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
  }
  
  

  /* Delivery Information Section */
  .delivery-info, .payment-info {
    margin-bottom: 30px;
  }
  
  .checkout-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .checkout-container input {
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button for submitting the order */
  .checkout-container button {
    background-color: #052E16;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkout-container button:hover {
    background-color: #041E11;
  }
  